<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,508}</string>
                <key>spriteSourceSize</key>
                <string>{462,508}</string>
                <key>textureRect</key>
                <string>{{545,511},{462,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,492}</string>
                <key>spriteSourceSize</key>
                <string>{452,492}</string>
                <key>textureRect</key>
                <string>{{1491,1511},{452,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,512}</string>
                <key>spriteSourceSize</key>
                <string>{462,512}</string>
                <key>textureRect</key>
                <string>{{509,1021},{462,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,492}</string>
                <key>spriteSourceSize</key>
                <string>{460,492}</string>
                <key>textureRect</key>
                <string>{{997,1535},{460,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,492}</string>
                <key>spriteSourceSize</key>
                <string>{424,492}</string>
                <key>textureRect</key>
                <string>{{2289,975},{424,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,500}</string>
                <key>spriteSourceSize</key>
                <string>{402,500}</string>
                <key>textureRect</key>
                <string>{{2715,975},{402,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,512}</string>
                <key>spriteSourceSize</key>
                <string>{488,512}</string>
                <key>textureRect</key>
                <string>{{1151,1},{488,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,508}</string>
                <key>spriteSourceSize</key>
                <string>{470,508}</string>
                <key>textureRect</key>
                <string>{{2691,1},{470,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,508}</string>
                <key>spriteSourceSize</key>
                <string>{198,508}</string>
                <key>textureRect</key>
                <string>{{3201,1},{198,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,510}</string>
                <key>spriteSourceSize</key>
                <string>{388,510}</string>
                <key>textureRect</key>
                <string>{{1009,509},{388,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,508}</string>
                <key>spriteSourceSize</key>
                <string>{456,508}</string>
                <key>textureRect</key>
                <string>{{1399,491},{456,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,500}</string>
                <key>spriteSourceSize</key>
                <string>{402,500}</string>
                <key>textureRect</key>
                <string>{{1945,1497},{402,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,508}</string>
                <key>spriteSourceSize</key>
                <string>{542,508}</string>
                <key>textureRect</key>
                <string>{{1,511},{542,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,512}</string>
                <key>spriteSourceSize</key>
                <string>{470,512}</string>
                <key>textureRect</key>
                <string>{{2177,1},{470,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,512}</string>
                <key>spriteSourceSize</key>
                <string>{506,512}</string>
                <key>textureRect</key>
                <string>{{1,1021},{506,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,500}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{2731,473},{450,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,540}</string>
                <key>spriteSourceSize</key>
                <string>{506,540}</string>
                <key>textureRect</key>
                <string>{{609,1},{506,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,500}</string>
                <key>spriteSourceSize</key>
                <string>{452,500}</string>
                <key>textureRect</key>
                <string>{{2277,473},{452,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,512}</string>
                <key>spriteSourceSize</key>
                <string>{430,512}</string>
                <key>textureRect</key>
                <string>{{973,1021},{430,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,500}</string>
                <key>spriteSourceSize</key>
                <string>{478,500}</string>
                <key>textureRect</key>
                <string>{{1,1535},{478,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,510}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1665,1},{474,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>V.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,508}</string>
                <key>spriteSourceSize</key>
                <string>{450,508}</string>
                <key>textureRect</key>
                <string>{{1405,1001},{450,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,508}</string>
                <key>spriteSourceSize</key>
                <string>{606,508}</string>
                <key>textureRect</key>
                <string>{{1,1},{606,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,508}</string>
                <key>spriteSourceSize</key>
                <string>{418,508}</string>
                <key>textureRect</key>
                <string>{{1857,477},{418,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,508}</string>
                <key>spriteSourceSize</key>
                <string>{430,508}</string>
                <key>textureRect</key>
                <string>{{1857,987},{430,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,492}</string>
                <key>spriteSourceSize</key>
                <string>{466,492}</string>
                <key>textureRect</key>
                <string>{{503,1535},{466,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,16}</string>
                <key>spriteSourceSize</key>
                <string>{396,16}</string>
                <key>textureRect</key>
                <string>{{997,1997},{396,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,356}</string>
                <key>spriteSourceSize</key>
                <string>{322,356}</string>
                <key>textureRect</key>
                <string>{{3067,1477},{322,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,372}</string>
                <key>spriteSourceSize</key>
                <string>{332,372}</string>
                <key>textureRect</key>
                <string>{{2349,1469},{332,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,204}</string>
                <key>spriteSourceSize</key>
                <string>{212,204}</string>
                <key>textureRect</key>
                <string>{{2683,1791},{212,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,350}</string>
                <key>spriteSourceSize</key>
                <string>{198,350}</string>
                <key>textureRect</key>
                <string>{{3183,511},{198,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,382}</string>
                <key>spriteSourceSize</key>
                <string>{312,382}</string>
                <key>textureRect</key>
                <string>{{2683,1477},{312,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,370}</string>
                <key>spriteSourceSize</key>
                <string>{246,370}</string>
                <key>textureRect</key>
                <string>{{3119,975},{246,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>abc.png</string>
            <key>size</key>
            <string>{3410,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d69be4371f957fd4c5da3ded01ff945:40956c2ac511c66e1098c445c7685e25:e426ac7cfdec758f5e7aefbb318c1c95$</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
