<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,391},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,909},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{509,903},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,1427},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{509,1421},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,1945},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{509,1939},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,2463},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,510}</string>
                <key>spriteSourceSize</key>
                <string>{508,510}</string>
                <key>textureRect</key>
                <string>{{509,391},{508,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curve-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,124}</string>
                <key>spriteSourceSize</key>
                <string>{880,124}</string>
                <key>textureRect</key>
                <string>{{1,3425},{880,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,26}</string>
                <key>spriteSourceSize</key>
                <string>{802,26}</string>
                <key>textureRect</key>
                <string>{{1,3551},{802,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{714,388}</string>
                <key>spriteSourceSize</key>
                <string>{714,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{714,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,298}</string>
                <key>spriteSourceSize</key>
                <string>{518,298}</string>
                <key>textureRect</key>
                <string>{{445,2981},{518,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,442}</string>
                <key>spriteSourceSize</key>
                <string>{442,442}</string>
                <key>textureRect</key>
                <string>{{1,2981},{442,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,448}</string>
                <key>spriteSourceSize</key>
                <string>{510,448}</string>
                <key>textureRect</key>
                <string>{{509,2457},{510,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>abc.png</string>
            <key>size</key>
            <string>{1018,3578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5308a6881450223037c7aa0734159afe:ab9b79523b6440e0dd580a6442dac57f:e426ac7cfdec758f5e7aefbb318c1c95$</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
