<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mainground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{2048,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,278}}</string>
                <key>sourceSize</key>
                <string>{2048,278}</string>
            </dict>
            <key>avatar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1625},{238,229}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,229}}</string>
                <key>sourceSize</key>
                <string>{242,231}</string>
            </dict>
            <key>avatar-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{170,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{170,236}}</string>
                <key>sourceSize</key>
                <string>{176,240}</string>
            </dict>
            <key>avatar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1625},{225,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,245}}</string>
                <key>sourceSize</key>
                <string>{225,247}</string>
            </dict>
            <key>avatar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1438},{216,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,204}}</string>
                <key>sourceSize</key>
                <string>{218,206}</string>
            </dict>
            <key>avatar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2377,1097},{201,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,206}}</string>
                <key>sourceSize</key>
                <string>{201,208}</string>
            </dict>
            <key>avatar-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1438},{183,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{183,224}}</string>
                <key>sourceSize</key>
                <string>{189,228}</string>
            </dict>
            <key>avatar-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1438},{198,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,218}}</string>
                <key>sourceSize</key>
                <string>{204,222}</string>
            </dict>
            <key>avatar-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2377,887},{202,209}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{202,209}}</string>
                <key>sourceSize</key>
                <string>{206,213}</string>
            </dict>
            <key>avatar-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,974},{210,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{210,213}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>avatar-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1438},{216,215}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{216,215}}</string>
                <key>sourceSize</key>
                <string>{218,221}</string>
            </dict>
            <key>back-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1866},{162,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,167}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1866},{162,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,167}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>flower-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,2},{478,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,497}}</string>
                <key>sourceSize</key>
                <string>{478,497}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,296}}</string>
                <key>sourceSize</key>
                <string>{2048,296}</string>
            </dict>
            <key>icon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,1188},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2372,1304},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,1400},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2372,1516},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1625},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1637},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1643},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1654},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2070,1654},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>icon-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2276,1728},{205,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>next-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1866},{162,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,167}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,1866},{162,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,167}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>password_holder-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,578},{677,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,444}}</string>
                <key>sourceSize</key>
                <string>{677,444}</string>
            </dict>
            <key>password_holder-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1023},{700,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,414}}</string>
                <key>sourceSize</key>
                <string>{700,414}</string>
            </dict>
            <key>password_holder-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,578},{672,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,444}}</string>
                <key>sourceSize</key>
                <string>{672,444}</string>
            </dict>
            <key>password_holder-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1023},{706,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,414}}</string>
                <key>sourceSize</key>
                <string>{706,414}</string>
            </dict>
            <key>plus_button-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1837},{181,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,187}}</string>
                <key>sourceSize</key>
                <string>{183,189}</string>
            </dict>
            <key>plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1843},{181,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,187}}</string>
                <key>sourceSize</key>
                <string>{183,189}</string>
            </dict>
            <key>table-name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2109,887},{247,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{253,86}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,578},{355,838}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,838}}</string>
                <key>sourceSize</key>
                <string>{355,838}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2109,500},{411,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,386}}</string>
                <key>sourceSize</key>
                <string>{411,386}</string>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{399,859}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,859}}</string>
                <key>sourceSize</key>
                <string>{399,859}</string>
            </dict>
            <key>tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1625},{295,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,376}}</string>
                <key>sourceSize</key>
                <string>{295,376}</string>
            </dict>
            <key>tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1438},{186,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,882}}</string>
                <key>sourceSize</key>
                <string>{186,882}</string>
            </dict>
            <key>tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{383,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,417}}</string>
                <key>sourceSize</key>
                <string>{383,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>account.png</string>
            <key>size</key>
            <string>{2581,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df86aeb25aeca387cd4f78c530a3a37:0fde176feec5b2f2c251e21ead489dbd:cc5c63716bdaa1313fe923753eaaef6a$</string>
            <key>textureFileName</key>
            <string>account.png</string>
        </dict>
    </dict>
</plist>
