<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,205}}</string>
                <key>sourceSize</key>
                <string>{300,205}</string>
            </dict>
            <key>smoke-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{300,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,142}}</string>
                <key>sourceSize</key>
                <string>{300,142}</string>
            </dict>
            <key>smoke-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{300,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,149}}</string>
                <key>sourceSize</key>
                <string>{300,149}</string>
            </dict>
            <key>smoke-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{300,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,151}}</string>
                <key>sourceSize</key>
                <string>{300,151}</string>
            </dict>
            <key>smoke-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,142},{300,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,106}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>smoke-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{300,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,115}}</string>
                <key>sourceSize</key>
                <string>{300,115}</string>
            </dict>
            <key>smoke-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,115},{300,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,107}}</string>
                <key>sourceSize</key>
                <string>{300,107}</string>
            </dict>
            <key>smoke-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,149},{300,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,101}}</string>
                <key>sourceSize</key>
                <string>{300,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-smoke.png</string>
            <key>size</key>
            <string>{1500,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec8c31a9103fb6d86761eb052303637a:4d42345c6ff782877c85f3c835b99979:9fe28c42667a4431dee499f4f36780b6$</string>
            <key>textureFileName</key>
            <string>effect-smoke.png</string>
        </dict>
    </dict>
</plist>
