<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{2115,1},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1,3435},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{509,3435},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1017,3435},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1525,2987},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{1525,3505},{506,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{2033,2987},{506,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,516}</string>
                <key>spriteSourceSize</key>
                <string>{506,516}</string>
                <key>textureRect</key>
                <string>{{2043,3505},{506,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1220,1224}</string>
                <key>spriteSourceSize</key>
                <string>{1220,1224}</string>
                <key>textureRect</key>
                <string>{{1229,1765},{1220,1224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>curve-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2112,296}</string>
                <key>spriteSourceSize</key>
                <string>{2112,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{2112,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1926,62}</string>
                <key>spriteSourceSize</key>
                <string>{1926,62}</string>
                <key>textureRect</key>
                <string>{{1,299},{1926,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1714,932}</string>
                <key>spriteSourceSize</key>
                <string>{1714,932}</string>
                <key>textureRect</key>
                <string>{{1,363},{1714,932}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1244,716}</string>
                <key>spriteSourceSize</key>
                <string>{1244,716}</string>
                <key>textureRect</key>
                <string>{{1717,519},{1244,716}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1060,1062}</string>
                <key>spriteSourceSize</key>
                <string>{1060,1062}</string>
                <key>textureRect</key>
                <string>{{1,2373},{1060,1062}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1226,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1226,1074}</string>
                <key>textureRect</key>
                <string>{{1,1297},{1226,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>figure-game.png</string>
            <key>size</key>
            <string>{2622,4012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec9e93fb51ee7f953fa248629a14464b:d9fcd4a2b92512b6576a5b501d73b2cc:f56f5b788854834ccf51bf1c92cf3e11$</string>
            <key>textureFileName</key>
            <string>figure-game.png</string>
        </dict>
    </dict>
</plist>
