<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2753},{712,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,366}}</string>
                <key>sourceSize</key>
                <string>{712,366}</string>
            </dict>
            <key>bush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2734},{1357,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1357,498}}</string>
                <key>sourceSize</key>
                <string>{1357,498}</string>
            </dict>
            <key>cloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,622},{577,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,208}}</string>
                <key>sourceSize</key>
                <string>{577,208}</string>
            </dict>
            <key>cloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2429},{334,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,303}}</string>
                <key>sourceSize</key>
                <string>{334,303}</string>
            </dict>
            <key>cloud-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,3355},{213,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,147}}</string>
                <key>sourceSize</key>
                <string>{213,147}</string>
            </dict>
            <key>cloud-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,3792},{415,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,208}}</string>
                <key>sourceSize</key>
                <string>{415,208}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2730,656}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{2730,656}}</string>
                <key>sourceSize</key>
                <string>{2730,658}</string>
            </dict>
            <key>river.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1274},{1477,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1477,664}}</string>
                <key>sourceSize</key>
                <string>{1477,664}</string>
            </dict>
            <key>small-bush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,3180},{407,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,173}}</string>
                <key>sourceSize</key>
                <string>{407,173}</string>
            </dict>
            <key>small-bush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{618,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,200}}</string>
                <key>sourceSize</key>
                <string>{618,200}</string>
            </dict>
            <key>tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1945},{398,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,482}}</string>
                <key>sourceSize</key>
                <string>{398,482}</string>
            </dict>
            <key>tree-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,3467},{585,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,619}}</string>
                <key>sourceSize</key>
                <string>{585,619}</string>
            </dict>
            <key>tree-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1274},{406,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,669}}</string>
                <key>sourceSize</key>
                <string>{406,669}</string>
            </dict>
            <key>tree-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2753},{467,1037}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,1037}}</string>
                <key>sourceSize</key>
                <string>{467,1037}</string>
            </dict>
            <key>tree-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,2734},{444,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,424}}</string>
                <key>sourceSize</key>
                <string>{444,424}</string>
            </dict>
            <key>tree-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4002},{309,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,48}}</string>
                <key>sourceSize</key>
                <string>{309,48}</string>
            </dict>
            <key>water-fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{1270,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1270,920}}</string>
                <key>sourceSize</key>
                <string>{1270,920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest.png</string>
            <key>size</key>
            <string>{1793,4093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3192754fab289a682a8407873f1a184:de55e88e3bb14a486a44acbb3b7ad993:9bbd45b028f96d856e579760e5d92cf2$</string>
            <key>textureFileName</key>
            <string>forest.png</string>
        </dict>
    </dict>
</plist>
