<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-game-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,258}</string>
            </dict>
            <key>icon-game-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,525},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>pug.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{475,521}}</string>
                <key>sourceSize</key>
                <string>{479,521}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{479,1041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996299a62d0f2f473eeaf39acc2c19a2:5189567bbe2ddd10fa94feeb236ef051:6f4c536624696814219c1486f93e8c0a$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
