<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud-holder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1160,787}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,787}}</string>
                <key>sourceSize</key>
                <string>{1160,787}</string>
            </dict>
            <key>create-btn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{414,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{414,135}}</string>
                <key>sourceSize</key>
                <string>{426,141}</string>
            </dict>
            <key>create-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,790},{414,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{414,135}}</string>
                <key>sourceSize</key>
                <string>{426,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newaccount.png</string>
            <key>size</key>
            <string>{1164,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e89467e32f572b7dd3790b5f482be2e:353561d1eaea165f99ffae7a88707417:1abf863523300ed99f378b9f125fb266$</string>
            <key>textureFileName</key>
            <string>newaccount.png</string>
        </dict>
    </dict>
</plist>
