<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>school_bg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,478}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{808,478}}</string>
                <key>sourceSize</key>
                <string>{810,482}</string>
            </dict>
            <key>school_bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{809,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{809,456}}</string>
                <key>sourceSize</key>
                <string>{809,460}</string>
            </dict>
            <key>search_button-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,260},{147,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{147,152}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>search_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,106},{147,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{147,152}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>search_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,2},{792,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{792,102}}</string>
                <key>sourceSize</key>
                <string>{796,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>school.png</string>
            <key>size</key>
            <string>{2417,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315ce79545a7b6499f74467bc7c8188c:1/1$</string>
            <key>textureFileName</key>
            <string>school.png</string>
        </dict>
    </dict>
</plist>
