<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sparkles-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,227},{20,21}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,13},{20,21}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{72,71}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{72,71}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{78,57}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{78,57}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,61},{86,61}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{86,61}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,61}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{90,61}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,43},{92,41}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{92,41}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,84},{92,41}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{92,41}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{94,43}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{94,43}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,194},{34,33}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{34,33}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,179},{30,31}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{30,31}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,225},{28,25}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{28,25}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,210},{20,21}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{20,21}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,194},{32,31}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{32,31}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,122},{48,57}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{48,57}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,191},{54,63}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,125},{60,69}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{60,71}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{60,71}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,60},{62,73}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{62,73}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>sparkles-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,125},{66,75}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{66,75}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sparkle-effect.png</string>
            <key>size</key>
            <string>{255,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83d721dae35d71ed3bb7925f81274904:f65fa669ea965bbc15af4fb72e4509de:a7ffe9d2d411297ab38de3a228e3ddff$</string>
            <key>textureFileName</key>
            <string>sparkle-effect.png</string>
        </dict>
    </dict>
</plist>
