tools/
publish/
simulator/
.DS_Store

frameworks/runtime-src/proj.ios_mac/tsog.xcodeproj/project.xcworkspace/xcshareddata/
frameworks/js-bindings/bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/xcuserdata/
frameworks/js-bindings/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/js-bindings/bindings/proj.ios_mac/build/
frameworks/js-bindings/cocos2d-x/build/build
frameworks/runtime-src/proj.ios_mac/tsog.xcodeproj/project.xcworkspace/
frameworks/runtime-src/proj.ios_mac/tsog.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/tsog.xcodeproj/project.xcworkspace/xcuserdata/
frameworks/runtime-src/proj.ios_mac/build/
frameworks/cocos2d-x/build/build/
frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/build/

frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/xcuserdata/

frameworks/cocos2d-x/cocos/platform/android/java/bin/
frameworks/cocos2d-x/cocos/platform/android/java/gen/

frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/libs/armeabi/
frameworks/runtime-src/proj.android/libs/x86/
frameworks/runtime-src/proj.android/obj/

