<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exit-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,297},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,74}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,200},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,74}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>btn_pause-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,370},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,370},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>btn_play-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,113},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,210},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,381},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>colorbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{245,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,13}}</string>
                <key>sourceSize</key>
                <string>{245,13}</string>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,274},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>name-holder.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{210,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,50}}</string>
                <key>sourceSize</key>
                <string>{210,50}</string>
            </dict>
            <key>progress-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{288,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,40}}</string>
                <key>sourceSize</key>
                <string>{288,40}</string>
            </dict>
            <key>setting-dialog-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,341}}</string>
                <key>sourceSize</key>
                <string>{340,341}</string>
            </dict>
            <key>star-big.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{113,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,105}</string>
            </dict>
            <key>star-dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,334},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>star-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,382},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>whitespace.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{497,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77cf1a141873a9c56fea116bd2cf4260:04da55febbb7ba7040bd740da621f63d:a5a23ba76e05012ae2d9c25a932df8bf$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
