<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{306,256}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>abc.png</string>
            <key>size</key>
            <string>{258,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e13abe87bee5179670d6e119252cd50:a894e7ab3b06e1520365d9ebb3b5d3f1:e426ac7cfdec758f5e7aefbb318c1c95$</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
