<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,254}</string>
                <key>spriteSourceSize</key>
                <string>{231,254}</string>
                <key>textureRect</key>
                <string>{{727,258},{231,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,246}</string>
                <key>spriteSourceSize</key>
                <string>{226,246}</string>
                <key>textureRect</key>
                <string>{{1450,1},{226,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,256}</string>
                <key>spriteSourceSize</key>
                <string>{231,256}</string>
                <key>textureRect</key>
                <string>{{494,259},{231,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,246}</string>
                <key>spriteSourceSize</key>
                <string>{230,246}</string>
                <key>textureRect</key>
                <string>{{749,773},{230,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,246}</string>
                <key>spriteSourceSize</key>
                <string>{212,246}</string>
                <key>textureRect</key>
                <string>{{1450,229},{212,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,250}</string>
                <key>spriteSourceSize</key>
                <string>{201,250}</string>
                <key>textureRect</key>
                <string>{{1436,443},{201,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{244,256}</string>
                <key>textureRect</key>
                <string>{{257,1},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,254}</string>
                <key>spriteSourceSize</key>
                <string>{235,254}</string>
                <key>textureRect</key>
                <string>{{707,517},{235,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,254}</string>
                <key>spriteSourceSize</key>
                <string>{99,254}</string>
                <key>textureRect</key>
                <string>{{1177,257},{99,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,255}</string>
                <key>spriteSourceSize</key>
                <string>{194,255}</string>
                <key>textureRect</key>
                <string>{{511,517},{194,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,254}</string>
                <key>spriteSourceSize</key>
                <string>{228,254}</string>
                <key>textureRect</key>
                <string>{{959,1},{228,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,250}</string>
                <key>spriteSourceSize</key>
                <string>{201,250}</string>
                <key>textureRect</key>
                <string>{{1486,646},{201,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,254}</string>
                <key>spriteSourceSize</key>
                <string>{271,254}</string>
                <key>textureRect</key>
                <string>{{1,306},{271,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,256}</string>
                <key>spriteSourceSize</key>
                <string>{235,256}</string>
                <key>textureRect</key>
                <string>{{257,259},{235,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,256}</string>
                <key>spriteSourceSize</key>
                <string>{253,256}</string>
                <key>textureRect</key>
                <string>{{256,579},{253,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{225,250}</string>
                <key>textureRect</key>
                <string>{{1189,1},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,270}</string>
                <key>spriteSourceSize</key>
                <string>{253,270}</string>
                <key>textureRect</key>
                <string>{{1,579},{253,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,250}</string>
                <key>spriteSourceSize</key>
                <string>{226,250}</string>
                <key>textureRect</key>
                <string>{{1222,769},{226,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,256}</string>
                <key>spriteSourceSize</key>
                <string>{215,256}</string>
                <key>textureRect</key>
                <string>{{503,1},{215,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,250}</string>
                <key>textureRect</key>
                <string>{{981,770},{239,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,255}</string>
                <key>spriteSourceSize</key>
                <string>{237,255}</string>
                <key>textureRect</key>
                <string>{{720,1},{237,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>V.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,254}</string>
                <key>spriteSourceSize</key>
                <string>{225,254}</string>
                <key>textureRect</key>
                <string>{{944,514},{225,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,254}</string>
                <key>spriteSourceSize</key>
                <string>{303,254}</string>
                <key>textureRect</key>
                <string>{{1,1},{303,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,254}</string>
                <key>spriteSourceSize</key>
                <string>{209,254}</string>
                <key>textureRect</key>
                <string>{{1171,513},{209,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,254}</string>
                <key>spriteSourceSize</key>
                <string>{215,254}</string>
                <key>textureRect</key>
                <string>{{960,257},{215,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,246}</string>
                <key>spriteSourceSize</key>
                <string>{233,246}</string>
                <key>textureRect</key>
                <string>{{514,774},{233,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,8}</string>
                <key>spriteSourceSize</key>
                <string>{198,8}</string>
                <key>textureRect</key>
                <string>{{189,1014},{198,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,178}</string>
                <key>spriteSourceSize</key>
                <string>{161,178}</string>
                <key>textureRect</key>
                <string>{{189,851},{161,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,186}</string>
                <key>spriteSourceSize</key>
                <string>{166,186}</string>
                <key>textureRect</key>
                <string>{{1,851},{166,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{1382,646},{106,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,175}</string>
                <key>spriteSourceSize</key>
                <string>{99,175}</string>
                <key>textureRect</key>
                <string>{{1450,898},{99,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,191}</string>
                <key>spriteSourceSize</key>
                <string>{156,191}</string>
                <key>textureRect</key>
                <string>{{1278,253},{156,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,185}</string>
                <key>spriteSourceSize</key>
                <string>{123,185}</string>
                <key>textureRect</key>
                <string>{{389,837},{123,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>abc.png</string>
            <key>size</key>
            <string>{1700,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d69be4371f957fd4c5da3ded01ff945:40956c2ac511c66e1098c445c7685e25:e426ac7cfdec758f5e7aefbb318c1c95$</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
