<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,405},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>avatar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,341},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>avatar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,341},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>back-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,437},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,437},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>flower-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,246},{199,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,207}}</string>
                <key>sourceSize</key>
                <string>{199,207}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{853,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,140}}</string>
                <key>sourceSize</key>
                <string>{853,140}</string>
            </dict>
            <key>ground-big.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{853,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,116}}</string>
                <key>sourceSize</key>
                <string>{853,116}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,120},{853,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,44}}</string>
                <key>sourceSize</key>
                <string>{853,44}</string>
            </dict>
            <key>icon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,341},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,353},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,353},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,353},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>password_holder-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,144},{282,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,185}}</string>
                <key>sourceSize</key>
                <string>{282,185}</string>
            </dict>
            <key>password_holder-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,166},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>password_holder-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,331},{294,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,173}}</string>
                <key>sourceSize</key>
                <string>{294,173}</string>
            </dict>
            <key>password_holder-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,166},{292,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,173}}</string>
                <key>sourceSize</key>
                <string>{292,173}</string>
            </dict>
            <key>plus_button-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,429},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,430},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,144},{148,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,349}}</string>
                <key>sourceSize</key>
                <string>{148,349}</string>
            </dict>
            <key>tree-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,320},{171,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,161}}</string>
                <key>sourceSize</key>
                <string>{171,161}</string>
            </dict>
            <key>tree-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{166,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,358}}</string>
                <key>sourceSize</key>
                <string>{166,358}</string>
            </dict>
            <key>tree-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,246},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>tree-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,166},{78,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,368}}</string>
                <key>sourceSize</key>
                <string>{78,368}</string>
            </dict>
            <key>tree-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,144},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>account.png</string>
            <key>size</key>
            <string>{1712,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d83d47801e64372f53ee513aedda23e:2a5c99de2ecbd501a56ba399206d3fd2:1e13c287860a24639170d3fbb9e28633$</string>
            <key>textureFileName</key>
            <string>account.png</string>
        </dict>
    </dict>
</plist>
