<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adi_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{666,1},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{279,503}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,1706},{279,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{319,527}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,1351},{319,527}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{281,479}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{530,1423},{281,479}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{275,509}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{506,1706},{275,509}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monkey_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,480}</string>
                <key>spriteSourceSize</key>
                <string>{663,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{663,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,461}</string>
                <key>spriteSourceSize</key>
                <string>{485,461}</string>
                <key>textureRect</key>
                <string>{{531,960},{485,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{528,476}</string>
                <key>spriteSourceSize</key>
                <string>{576,524}</string>
                <key>textureRect</key>
                <string>{{1,873},{528,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,388}</string>
                <key>spriteSourceSize</key>
                <string>{566,388}</string>
                <key>textureRect</key>
                <string>{{1,483},{566,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,467}</string>
                <key>spriteSourceSize</key>
                <string>{444,467}</string>
                <key>textureRect</key>
                <string>{{569,491},{444,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,461}</string>
                <key>spriteSourceSize</key>
                <string>{485,461}</string>
                <key>textureRect</key>
                <string>{{531,960},{485,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>adidog_run.png</string>
            <key>size</key>
            <string>{1017,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c7f17b514e1234841255c7883b271cf:9a72c614caf5ae965dc263f32e24ca8e:b185c3e27966584cae848f0b59f2575c$</string>
            <key>textureFileName</key>
            <string>adidog_run.png</string>
        </dict>
    </dict>
</plist>
