<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adi_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,504}</string>
                <key>spriteSourceSize</key>
                <string>{420,504}</string>
                <key>textureRect</key>
                <string>{{1234,1},{420,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{531,483},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{279,503}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{877,391},{279,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{319,527}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,961},{319,527}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{281,479}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{530,973},{281,479}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adi_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{275,509}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1740,1},{275,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,387}</string>
                <key>spriteSourceSize</key>
                <string>{420,387}</string>
                <key>textureRect</key>
                <string>{{1627,886},{420,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monkey_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,480}</string>
                <key>spriteSourceSize</key>
                <string>{663,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{663,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,461}</string>
                <key>spriteSourceSize</key>
                <string>{485,461}</string>
                <key>textureRect</key>
                <string>{{1158,423},{485,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{528,476}</string>
                <key>spriteSourceSize</key>
                <string>{576,524}</string>
                <key>textureRect</key>
                <string>{{1,483},{528,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,388}</string>
                <key>spriteSourceSize</key>
                <string>{566,388}</string>
                <key>textureRect</key>
                <string>{{666,1},{566,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,467}</string>
                <key>spriteSourceSize</key>
                <string>{444,467}</string>
                <key>textureRect</key>
                <string>{{1158,886},{444,467}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monkey_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,461}</string>
                <key>spriteSourceSize</key>
                <string>{485,461}</string>
                <key>textureRect</key>
                <string>{{1158,423},{485,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>adidog_run.png</string>
            <key>size</key>
            <string>{2016,1331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f27241ab5188ab656a3eb1f3e020124:072b6c87787ae9b8bd09f414856d0460:b185c3e27966584cae848f0b59f2575c$</string>
            <key>textureFileName</key>
            <string>adidog_run.png</string>
        </dict>
    </dict>
</plist>
