<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beehive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{121,1},{65,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>alpha-racing-obstacles.png</string>
            <key>size</key>
            <string>{187,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c571f03c268045cfc095aa1455c85d18:a44851cea4d5747ad7352647e82dd3e8:064ca70082808efb4e3c7fd26cca356a$</string>
            <key>textureFileName</key>
            <string>alpha-racing-obstacles.png</string>
        </dict>
    </dict>
</plist>
