<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,41}</string>
                <key>spriteSourceSize</key>
                <string>{179,41}</string>
                <key>textureRect</key>
                <string>{{1197,1115},{179,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,47}</string>
                <key>spriteSourceSize</key>
                <string>{306,47}</string>
                <key>textureRect</key>
                <string>{{1197,1066},{306,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-314}</string>
                <key>spriteSize</key>
                <string>{1229,294}</string>
                <key>spriteSourceSize</key>
                <string>{1229,922}</string>
                <key>textureRect</key>
                <string>{{1,770},{1229,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1229,313}</string>
                <key>spriteSourceSize</key>
                <string>{1229,313}</string>
                <key>textureRect</key>
                <string>{{1,455},{1229,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1229,452}</string>
                <key>spriteSourceSize</key>
                <string>{1229,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{1229,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1194,137}</string>
                <key>spriteSourceSize</key>
                <string>{1194,137}</string>
                <key>textureRect</key>
                <string>{{1,1066},{1194,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alpha-racing-background.png</string>
            <key>size</key>
            <string>{1504,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e36a89f6b737128d95a2c507a19865a:273fa35d5d08db57eb647ec9f485b25d:07db0e81a3181f0677089f9269c6cde9$</string>
            <key>textureFileName</key>
            <string>alpha-racing-background.png</string>
        </dict>
    </dict>
</plist>
