<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beehive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,65}</string>
                <key>spriteSourceSize</key>
                <string>{244,65}</string>
                <key>textureRect</key>
                <string>{{187,1},{244,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{120,1},{65,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning-sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{187,68},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>alpha-racing-obstacles.png</string>
            <key>size</key>
            <string>{432,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a7fe3ded5df372837a77175542f7d48:ebc369dacafae7f96ff4bb53197172fa:064ca70082808efb4e3c7fd26cca356a$</string>
            <key>textureFileName</key>
            <string>alpha-racing-obstacles.png</string>
        </dict>
    </dict>
</plist>
