<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ar-boosters/double-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,3}</string>
                <key>spriteSize</key>
                <string>{57,42}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{597,1},{57,42}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 6 8 10 6 7 8 4 5 6 0 3 4 0 4 6 0 2 3 0 1 2 0 6 10</string>
                <key>vertices</key>
                <string>56 22 67 22 74 29 74 52 69 57 42 57 42 55 17 55 17 23 25 15 40 15</string>
                <key>verticesUV</key>
                <string>636 8 647 8 654 15 654 38 649 43 622 43 622 41 597 41 597 9 605 1 620 1</string>
            </dict>
            <key>ar-boosters/double-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,2.5}</string>
                <key>spriteSize</key>
                <string>{61,45}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{579,48},{61,45}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 0 7 8 0 5 6 3 4 5 0 2 5 5 2 3 0 1 2 0 6 7</string>
                <key>vertices</key>
                <string>50 21 68 21 76 29 76 54 71 59 51 59 21 58 15 52 15 22 23 14 42 14</string>
                <key>verticesUV</key>
                <string>614 55 632 55 640 63 640 88 635 93 615 93 585 92 579 86 579 56 587 48 606 48</string>
            </dict>
            <key>ar-boosters/double-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{67,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{508,185},{67,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 0 4 7 10 8 9 10 11 7 10 7 8 5 6 7 4 5 7 0 7 11 2 3 4 4 0 1 4 1 2 0 11 14</string>
                <key>vertices</key>
                <string>61 13 78 26 78 55 73 60 59 60 54 65 36 65 32 61 20 60 13 53 13 43 15 35 11 27 16 16 25 11</string>
                <key>verticesUV</key>
                <string>558 187 575 200 575 229 570 234 556 234 551 239 533 239 529 235 517 234 510 227 510 217 512 209 508 201 513 190 522 185</string>
            </dict>
            <key>ar-boosters/double-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 19 20 17 18 19 15 16 17 0 17 19 14 15 17 10 17 0 10 13 14 11 12 13 10 11 13 10 14 17 8 9 10 7 8 10 5 6 7 7 3 4 7 4 5 0 1 2 0 2 3 10 0 7 3 7 0</string>
                <key>vertices</key>
                <string>79 13 90 14 90 31 88 40 90 43 90 60 80 67 74 67 63 78 24 78 18 68 8 67 0 60 0 43 2 33 0 31 0 14 9 13 15 1 20 0 75 0</string>
                <key>verticesUV</key>
                <string>80 14 91 15 91 32 89 41 91 44 91 61 81 68 75 68 64 79 25 79 19 69 9 68 1 61 1 44 3 34 1 32 1 15 10 14 16 2 21 1 76 1</string>
            </dict>
            <key>ar-boosters/double-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{94,1},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 18 19 15 16 17 0 17 18 14 15 17 10 14 17 13 14 10 11 12 13 13 10 11 7 10 17 9 10 7 9 7 8 17 0 3 4 5 6 3 4 6 0 1 2 0 2 3 7 3 6 17 3 7</string>
                <key>vertices</key>
                <string>76 11 88 16 88 30 85 38 88 44 88 59 78 65 71 67 61 77 29 77 18 66 12 65 1 59 2 44 5 37 2 30 2 15 13 14 16 1 74 1</string>
                <key>verticesUV</key>
                <string>169 11 181 16 181 30 178 38 181 44 181 59 171 65 164 67 154 77 122 77 111 66 105 65 94 59 95 44 98 37 95 30 95 15 106 14 109 1 167 1</string>
            </dict>
            <key>ar-boosters/double-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{337,1},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 0 15 17 12 14 15 12 13 14 11 9 10 11 12 9 12 15 9 7 9 15 7 8 9 5 7 15 5 6 7 3 4 5 2 3 5 0 1 2 0 5 15 2 5 0</string>
                <key>vertices</key>
                <string>71 17 84 23 78 33 82 51 73 60 66 61 55 72 43 69 36 72 22 60 17 60 8 51 12 31 6 25 12 20 19 18 21 8 68 8</string>
                <key>verticesUV</key>
                <string>402 10 415 16 409 26 413 44 404 53 397 54 386 65 374 62 367 65 353 53 348 53 339 44 343 24 337 18 343 13 350 11 352 1 399 1</string>
            </dict>
            <key>ar-boosters/double-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{417,2},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 0 15 17 13 14 15 10 13 15 11 12 13 10 11 13 10 15 0 8 9 10 0 6 8 6 7 8 3 5 6 3 4 5 0 1 2 0 2 3 0 8 10 3 6 0</string>
                <key>vertices</key>
                <string>70 18 80 21 80 29 77 37 82 50 73 59 66 60 55 71 43 68 36 72 23 59 17 59 8 50 13 37 8 23 20 17 22 8 67 8</string>
                <key>verticesUV</key>
                <string>479 12 489 15 489 23 486 31 491 44 482 53 475 54 464 65 452 62 445 66 432 53 426 53 417 44 422 31 417 17 429 11 431 2 476 2</string>
            </dict>
            <key>ar-boosters/double-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{77,78},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 8 11 13 10 11 8 10 8 9 6 7 8 1 6 8 3 4 5 3 5 6 1 3 6 1 8 13 1 2 3 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>68 9 68 17 82 23 77 37 82 52 54 70 43 67 36 71 24 59 18 59 9 50 13 37 8 24 22 16 20 8</string>
                <key>verticesUV</key>
                <string>137 79 137 87 151 93 146 107 151 122 123 140 112 137 105 141 93 129 87 129 78 120 82 107 77 94 91 86 89 78</string>
            </dict>
            <key>ar-boosters/double-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{434,165},{72,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 0 15 17 12 14 15 12 13 14 11 9 10 11 12 9 12 15 9 9 15 0 8 9 6 8 6 7 6 0 3 3 4 5 0 1 2 0 2 3 6 3 5 9 0 6</string>
                <key>vertices</key>
                <string>69 20 79 22 79 29 76 39 81 49 72 58 65 59 56 68 34 68 24 58 18 58 10 50 14 33 9 27 14 22 22 18 22 9 67 9</string>
                <key>verticesUV</key>
                <string>494 176 504 178 504 185 501 195 506 205 497 214 490 215 481 224 459 224 449 214 443 214 435 206 439 189 434 183 439 178 447 174 447 165 492 165</string>
            </dict>
            <key>ar-boosters/invisible-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{127,130},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 1 11 13 7 1 6 9 10 1 7 8 9 7 9 1 6 3 5 6 1 2 5 3 4 6 2 3 1 10 11 0 1 13</string>
                <key>vertices</key>
                <string>60 32 65 43 82 54 87 65 87 81 81 87 54 89 29 85 22 81 17 70 15 58 19 42 28 31 36 29</string>
                <key>verticesUV</key>
                <string>172 133 177 144 194 155 199 166 199 182 193 188 166 190 141 186 134 182 129 171 127 159 131 143 140 132 148 130</string>
            </dict>
            <key>ar-boosters/invisible-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-1}</string>
                <key>spriteSize</key>
                <string>{73,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{207,150},{73,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 0 6 9 8 9 6 8 6 7 0 5 6 5 0 1 5 1 2 5 2 3 5 3 4 0 9 11</string>
                <key>vertices</key>
                <string>63 34 80 37 88 42 94 52 94 65 74 77 50 86 36 85 21 70 21 46 25 36 46 28</string>
                <key>verticesUV</key>
                <string>249 156 266 159 274 164 280 174 280 187 260 199 236 208 222 207 207 192 207 168 211 158 232 150</string>
            </dict>
            <key>ar-boosters/invisible-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{155,73},{77,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 10 12 13 10 11 12 10 13 0 9 10 7 9 7 8 0 6 7 0 5 6 5 0 1 2 3 4 5 2 4 5 1 2 10 0 7</string>
                <key>vertices</key>
                <string>62 36 80 37 92 45 97 61 93 68 79 75 76 78 52 86 36 87 23 74 20 63 20 43 28 35 43 30 55 30</string>
                <key>verticesUV</key>
                <string>197 79 215 80 227 88 232 104 228 111 214 118 211 121 187 129 171 130 158 117 155 106 155 86 163 78 178 73 190 73</string>
            </dict>
            <key>ar-boosters/invisible-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{359,178},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 11 12 9 10 11 8 9 11 6 8 11 6 7 8 0 5 6 5 0 1 5 1 2 5 2 3 5 3 4 0 6 12</string>
                <key>vertices</key>
                <string>70 39 77 40 87 45 94 56 94 73 72 82 49 87 35 87 20 72 20 43 30 33 44 31 54 31</string>
                <key>verticesUV</key>
                <string>409 186 416 187 426 192 433 203 433 220 411 229 388 234 374 234 359 219 359 190 369 180 383 178 393 178</string>
            </dict>
            <key>ar-boosters/invisible-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{371,116},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 12 13 11 0 10 8 1 7 9 10 1 9 1 8 1 6 7 4 5 6 6 1 2 6 3 4 6 2 3 0 1 10 11 12 0</string>
                <key>vertices</key>
                <string>57 32 68 43 83 50 90 64 90 77 86 83 73 83 67 86 31 87 21 77 17 65 16 51 22 38 32 29</string>
                <key>verticesUV</key>
                <string>412 119 423 130 438 137 445 151 445 164 441 170 428 170 422 173 386 174 376 164 372 152 371 138 377 125 387 116</string>
            </dict>
            <key>ar-boosters/invisible-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{299,116},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 12 10 11 1 10 1 9 8 1 6 8 9 1 8 6 7 4 5 6 6 1 2 6 2 3 6 3 4 11 12 1 0 12 13</string>
                <key>vertices</key>
                <string>60 34 68 48 77 53 84 62 84 83 80 89 52 89 23 83 16 72 14 58 16 45 23 35 30 30 39 27</string>
                <key>verticesUV</key>
                <string>345 123 353 137 362 142 369 151 369 172 365 178 337 178 308 172 301 161 299 147 301 134 308 124 315 119 324 116</string>
            </dict>
            <key>ar-boosters/invisible-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4.5}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{387,59},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 10 11 13 9 10 13 1 7 9 7 8 9 1 6 7 3 4 5 3 5 6 6 1 2 6 2 3 1 9 13 0 1 13</string>
                <key>vertices</key>
                <string>60 32 66 47 81 62 81 83 77 91 68 93 59 89 48 89 18 80 13 65 13 46 22 33 32 28 43 28</string>
                <key>verticesUV</key>
                <string>434 63 440 78 455 93 455 114 451 122 442 124 433 120 422 120 392 111 387 96 387 77 396 64 406 59 417 59</string>
            </dict>
            <key>ar-boosters/invisible-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4.5}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{312,58},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 1 9 12 7 8 9 6 7 9 6 2 5 3 4 5 6 1 2 5 2 3 1 6 9 0 1 12</string>
                <key>vertices</key>
                <string>61 35 66 47 79 63 79 82 76 92 65 94 42 88 19 79 13 71 13 51 16 40 30 27 45 27</string>
                <key>verticesUV</key>
                <string>360 66 365 78 378 94 378 113 375 123 364 125 341 119 318 110 312 102 312 82 315 71 329 58 344 58</string>
            </dict>
            <key>ar-boosters/invisible-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{232,95},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 2 10 12 2 9 10 2 8 9 2 7 8 3 4 5 6 2 3 3 5 6 2 6 7 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>54 31 62 38 65 50 78 63 78 87 67 95 41 88 18 76 13 66 13 49 18 39 29 28 44 28</string>
                <key>verticesUV</key>
                <string>273 98 281 105 284 117 297 130 297 154 286 162 260 155 237 143 232 133 232 116 237 106 248 95 263 95</string>
            </dict>
            <key>ar-boosters/invisible-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{75,167},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 1 11 14 1 10 11 8 9 10 7 8 10 1 6 7 4 5 6 3 4 6 6 1 2 6 2 3 1 7 10 0 1 14</string>
                <key>vertices</key>
                <string>60 36 66 45 82 58 85 75 81 87 69 91 62 87 49 87 27 83 19 75 16 65 15 51 21 38 30 31 52 31</string>
                <key>verticesUV</key>
                <string>120 172 126 181 142 194 145 211 141 223 129 227 122 223 109 223 87 219 79 211 76 201 75 187 81 174 90 167 112 167</string>
            </dict>
            <key>ar-boosters/invisible-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{68,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{506,131},{68,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 0 7 9 0 6 7 0 4 5 4 0 1 4 2 3 4 1 2 0 5 6</string>
                <key>vertices</key>
                <string>65 44 79 49 89 59 89 78 72 84 33 87 21 73 21 50 27 38 35 34 55 34</string>
                <key>verticesUV</key>
                <string>550 141 564 146 574 156 574 175 557 181 518 184 506 170 506 147 512 135 520 131 540 131</string>
            </dict>
            <key>ar-boosters/invisible-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-4}</string>
                <key>spriteSize</key>
                <string>{73,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{152,193},{73,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 0 1 10 1 8 9 1 7 8 1 6 7 6 3 5 6 1 2 6 2 3 5 3 4 0 10 11 0 11 12</string>
                <key>vertices</key>
                <string>55 35 62 40 79 44 88 50 94 63 91 70 77 79 42 87 30 81 21 63 24 48 28 41 36 33</string>
                <key>verticesUV</key>
                <string>186 195 193 200 210 204 219 210 225 223 222 230 208 239 173 247 161 241 152 223 155 208 159 201 167 193</string>
            </dict>
            <key>ar-boosters/invisible-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{280,184},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 6 8 11 6 7 8 0 4 6 4 5 6 4 0 1 4 1 2 4 2 3 0 6 11</string>
                <key>vertices</key>
                <string>66 38 80 39 94 53 94 68 70 80 44 88 34 83 22 71 22 47 26 38 39 32 53 32</string>
                <key>verticesUV</key>
                <string>324 190 338 191 352 205 352 220 328 232 302 240 292 235 280 223 280 199 284 190 297 184 311 184</string>
            </dict>
            <key>ar-boosters/magnet-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6.5,-7}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{555,98},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 14 15 1 13 14 12 13 2 12 2 11 9 2 3 3 7 8 7 3 4 7 5 6 7 4 5 9 3 8 2 9 10 11 2 10 1 2 13 0 1 15</string>
                <key>vertices</key>
                <string>42 30 33 39 26 50 31 48 41 35 49 35 59 43 55 52 46 64 36 70 19 71 5 57 3 46 5 37 24 18 36 18</string>
                <key>verticesUV</key>
                <string>594 110 585 119 578 130 583 128 593 115 601 115 611 123 607 132 598 144 588 150 571 151 557 137 555 126 557 117 576 98 588 98</string>
            </dict>
            <key>ar-boosters/magnet-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{576,148},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 9 10 2 3 6 7 6 3 4 6 4 5 3 7 8 9 2 3 9 3 8 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>31 16 38 25 22 39 23 45 40 27 54 41 44 56 35 65 8 65 0 57 0 31 20 11</string>
                <key>verticesUV</key>
                <string>607 153 614 162 598 176 599 182 616 164 630 178 620 193 611 202 584 202 576 194 576 168 596 148</string>
            </dict>
            <key>ar-boosters/magnet-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4.5}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{534,1},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 13 12 13 3 3 10 11 3 8 9 4 7 8 4 6 7 4 5 6 3 4 8 3 9 10 3 11 12 2 13 14 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>37 17 44 28 29 43 27 49 36 43 43 33 51 33 62 44 46 66 37 70 18 70 5 57 3 45 5 36 25 14</string>
                <key>verticesUV</key>
                <string>568 4 575 15 560 30 558 36 567 30 574 20 582 20 593 31 577 53 568 57 549 57 536 44 534 32 536 23 556 1</string>
            </dict>
            <key>ar-boosters/magnet-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-1}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{260,1},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 0 9 10 7 8 5 7 5 6 8 9 5 4 5 9 0 2 3 0 1 2 0 3 4 0 4 9</string>
                <key>vertices</key>
                <string>59 18 71 19 74 25 72 47 53 70 43 75 13 75 0 62 0 29 16 13 30 2 59 2</string>
                <key>verticesUV</key>
                <string>319 17 331 18 334 24 332 46 313 69 303 74 273 74 260 61 260 28 276 12 290 1 319 1</string>
            </dict>
            <key>ar-boosters/magnet-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{183,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 0 9 10 8 6 7 8 9 3 8 5 6 3 4 5 0 1 2 0 2 3 9 0 3 3 5 8</string>
                <key>vertices</key>
                <string>61 17 75 17 75 46 64 57 57 68 46 75 14 75 0 61 0 29 12 13 30 0 61 0</string>
                <key>verticesUV</key>
                <string>244 18 258 18 258 47 247 58 240 69 229 76 197 76 183 62 183 30 195 14 213 1 244 1</string>
            </dict>
            <key>ar-boosters/magnet-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,81},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 0 12 13 0 3 11 9 10 7 9 7 8 10 6 7 10 11 3 10 3 6 6 4 5 6 3 4 0 1 2 0 2 3 0 11 12</string>
                <key>vertices</key>
                <string>63 15 75 15 75 49 63 55 54 69 46 74 42 75 16 75 7 71 0 61 0 29 23 6 27 1 28 0 62 0</string>
                <key>verticesUV</key>
                <string>64 96 76 96 76 130 64 136 55 150 47 155 43 156 17 156 8 152 1 142 1 110 24 87 28 82 29 81 63 81</string>
            </dict>
            <key>ar-boosters/magnet-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,157},{71,69}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>16 17 18 15 16 18 0 18 19 14 23 20 1 18 0 11 21 10 12 20 11 12 13 20 21 8 9 21 7 8 21 6 7 4 5 6 6 21 22 6 22 23 6 23 4 1 15 18 14 15 23 23 1 2 4 23 2 4 2 3 21 9 10 11 20 21 20 13 14 23 15 1</string>
                <key>vertices</key>
                <string>55 11 51 18 56 23 73 23 67 35 73 41 55 52 47 63 37 70 27 72 12 67 5 56 2 43 11 31 21 20 29 16 29 8 37 4 41 7 51 3 28 44 29 49 39 38 45 29</string>
                <key>verticesUV</key>
                <string>54 165 50 172 55 177 72 177 66 189 72 195 54 206 46 217 36 224 26 226 11 221 4 210 1 197 10 185 20 174 28 170 28 162 36 158 40 161 50 157 27 198 28 203 38 192 44 183</string>
            </dict>
            <key>ar-boosters/magnet-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{449,94},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 15 16 6 7 13 12 10 11 12 7 10 10 7 8 10 8 9 12 13 7 6 13 14 2 6 14 4 5 6 6 2 3 6 3 4 0 2 14 0 1 2 0 14 15</string>
                <key>vertices</key>
                <string>38 9 51 9 51 23 66 26 66 44 60 48 55 48 43 65 35 70 25 72 16 69 4 57 4 40 20 24 28 20 28 13 34 6</string>
                <key>verticesUV</key>
                <string>483 97 496 97 496 111 511 114 511 132 505 136 500 136 488 153 480 158 470 160 461 157 449 145 449 128 465 112 473 108 473 101 479 94</string>
            </dict>
            <key>ar-boosters/magnet-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{475,35},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 0 9 10 6 8 9 6 7 8 6 9 3 6 4 5 6 3 4 0 1 2 0 2 3 0 3 9</string>
                <key>vertices</key>
                <string>47 28 65 27 62 45 38 69 27 72 16 71 6 59 3 48 5 40 11 32 31 12 47 12</string>
                <key>verticesUV</key>
                <string>519 51 537 50 534 68 510 92 499 95 488 94 478 82 475 71 477 63 483 55 503 35 519 35</string>
            </dict>
            <key>ar-boosters/magnet-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{512,65},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 8 9 0 5 6 7 5 7 8 9 10 0 1 3 4 1 2 3 1 4 5 0 1 5 8 0 5</string>
                <key>vertices</key>
                <string>47 28 50 31 57 27 62 32 62 44 42 68 25 73 10 65 4 53 4 39 28 15 47 11</string>
                <key>verticesUV</key>
                <string>555 82 558 85 565 81 570 86 570 98 550 122 533 127 518 119 512 107 512 93 536 69 555 65</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>alpha-racing-boosters.png</string>
            <key>size</key>
            <string>{655,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e62e24fda2f58c9af62980b72d1e087:0e6d5d4aa0db2f82b24ee208cef56801:d8e764855649a19a008d5dca5c66afa7$</string>
            <key>textureFileName</key>
            <string>alpha-racing-boosters.png</string>
        </dict>
    </dict>
</plist>
