<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,275}</string>
                <key>spriteSourceSize</key>
                <string>{173,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,275}</string>
                <key>spriteSourceSize</key>
                <string>{173,275}</string>
                <key>textureRect</key>
                <string>{{176,1},{173,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,12}</string>
                <key>spriteSourceSize</key>
                <string>{195,12}</string>
                <key>textureRect</key>
                <string>{{351,1},{195,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>card-game.png</string>
            <key>size</key>
            <string>{364,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82eb4ffd3d3ea5275d20a632749adb3:bb0a9cced93addb6cdb0f8dc86fa7941:766a0f0c6a894368c39c50fefbeb3d67$</string>
            <key>textureFileName</key>
            <string>card-game.png</string>
        </dict>
    </dict>
</plist>
