<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adidog.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,691}</string>
                <key>spriteSourceSize</key>
                <string>{582,691}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,691}</string>
                <key>spriteSourceSize</key>
                <string>{582,691}</string>
                <key>textureRect</key>
                <string>{{585,1},{582,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1168,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7596b46bd39cca8b403e9cd3cda1cd11:02314fba3c4e895baba810009eec56b8:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
