<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,419},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,363},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{56,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,363},{54,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,427},{48,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{48,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,363},{40,54}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{40,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,423},{36,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{36,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,363},{22,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{22,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,363},{16,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{16,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,363},{26,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{26,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,363},{34,56}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{34,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,363},{42,58}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{42,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,429},{50,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,429},{56,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{56,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{58,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{58,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,363},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{56,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{56,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,363},{48,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{48,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,423},{44,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{44,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,363},{36,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{36,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,425},{28,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{28,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,423},{16,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{16,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,421},{22,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,23},{22,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,421},{36,56}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{36,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,363},{42,56}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{42,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,429},{50,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,363},{54,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,427},{56,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{56,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>popup-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,359}}</string>
                <key>sourceSize</key>
                <string>{704,359}</string>
            </dict>
            <key>popup-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,363},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>x-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,425},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92cb8a6b26384e8b7192be26592c1546:480f949161ba7a45b2a29bb6f3c44de7:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
