<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue_short.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,85}</string>
                <key>spriteSourceSize</key>
                <string>{233,85}</string>
                <key>textureRect</key>
                <string>{{274,317},{233,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_short_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,203}</string>
                <key>spriteSourceSize</key>
                <string>{558,203}</string>
                <key>textureRect</key>
                <string>{{1227,234},{558,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,82}</string>
                <key>spriteSourceSize</key>
                <string>{410,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{410,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,82}</string>
                <key>spriteSourceSize</key>
                <string>{410,82}</string>
                <key>textureRect</key>
                <string>{{86,2},{410,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_green_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{2,414},{313,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{271,2},{313,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_save_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{356,2},{313,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_save_progress_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{441,2},{313,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,114}</string>
                <key>spriteSourceSize</key>
                <string>{1138,114}</string>
                <key>textureRect</key>
                <string>{{732,2},{1138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,114}</string>
                <key>spriteSourceSize</key>
                <string>{1138,114}</string>
                <key>textureRect</key>
                <string>{{732,118},{1138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>childrenface-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,68}</string>
                <key>spriteSourceSize</key>
                <string>{163,68}</string>
                <key>textureRect</key>
                <string>{{509,317},{163,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>childrenface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,68}</string>
                <key>spriteSourceSize</key>
                <string>{163,68}</string>
                <key>textureRect</key>
                <string>{{317,404},{163,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-coin-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,204}</string>
                <key>spriteSourceSize</key>
                <string>{244,204}</string>
                <key>textureRect</key>
                <string>{{526,2},{244,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,204}</string>
                <key>spriteSourceSize</key>
                <string>{244,204}</string>
                <key>textureRect</key>
                <string>{{579,248},{244,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-heart-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{526,248},{55,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1227,439},{55,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-progress-tracker-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{170,353},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-progress-tracker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{222,353},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-shop-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{785,234},{219,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{1006,234},{219,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,99}</string>
                <key>spriteSourceSize</key>
                <string>{349,99}</string>
                <key>textureRect</key>
                <string>{{170,2},{349,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>features-menu.png</string>
            <key>size</key>
            <string>{1873,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3f1a13aabf387f172a944b3d39e736:032c806b86d8fa3893bfce457e3321f4:e5b4a02482c8741fae2bb2ad9d27b31d$</string>
            <key>textureFileName</key>
            <string>features-menu.png</string>
        </dict>
    </dict>
</plist>
