<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,85}</string>
                <key>spriteSourceSize</key>
                <string>{233,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,203}</string>
                <key>spriteSourceSize</key>
                <string>{558,203}</string>
                <key>textureRect</key>
                <string>{{88,1},{558,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{648,1},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{937,1},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{648,86},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{937,86},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pay_with_heart_features_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{648,171},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pay_with_heart_features_menu_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,83}</string>
                <key>textureRect</key>
                <string>{{937,171},{287,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>features-menu.png</string>
            <key>size</key>
            <string>{1225,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7dfdbd5f6f2d85f0c6d4a874426e8a:b9585aae9bb341ff88c1b9da838c7601:e5b4a02482c8741fae2bb2ad9d27b31d$</string>
            <key>textureFileName</key>
            <string>features-menu.png</string>
        </dict>
    </dict>
</plist>
