<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,85}</string>
                <key>spriteSourceSize</key>
                <string>{233,85}</string>
                <key>textureRect</key>
                <string>{{728,318},{233,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,203}</string>
                <key>spriteSourceSize</key>
                <string>{558,203}</string>
                <key>textureRect</key>
                <string>{{1141,1},{558,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,82}</string>
                <key>spriteSourceSize</key>
                <string>{410,82}</string>
                <key>textureRect</key>
                <string>{{1,334},{410,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,82}</string>
                <key>spriteSourceSize</key>
                <string>{410,82}</string>
                <key>textureRect</key>
                <string>{{352,233},{410,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{1657,207},{313,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{1657,292},{313,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_save_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{764,233},{313,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_save_progress_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,83}</string>
                <key>spriteSourceSize</key>
                <string>{313,83}</string>
                <key>textureRect</key>
                <string>{{413,317},{313,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,114}</string>
                <key>spriteSourceSize</key>
                <string>{1138,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{1138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,114}</string>
                <key>spriteSourceSize</key>
                <string>{1138,114}</string>
                <key>textureRect</key>
                <string>{{1,117},{1138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>childrenface-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{163,66}</string>
                <key>spriteSourceSize</key>
                <string>{163,68}</string>
                <key>textureRect</key>
                <string>{{963,318},{163,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>childrenface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,68}</string>
                <key>spriteSourceSize</key>
                <string>{163,68}</string>
                <key>textureRect</key>
                <string>{{1657,377},{163,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-coin-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-30}</string>
                <key>spriteSize</key>
                <string>{210,136}</string>
                <key>spriteSourceSize</key>
                <string>{244,204}</string>
                <key>textureRect</key>
                <string>{{1519,206},{210,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,204}</string>
                <key>spriteSourceSize</key>
                <string>{244,204}</string>
                <key>textureRect</key>
                <string>{{1701,1},{244,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-heart-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1822,377},{55,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1874,377},{55,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-progress-tracker-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{1423,393},{50,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-progress-tracker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{1362,393},{50,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-shop-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{185,155}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{1362,206},{185,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{1141,206},{219,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,99}</string>
                <key>spriteSourceSize</key>
                <string>{349,99}</string>
                <key>textureRect</key>
                <string>{{1,233},{349,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>features-menu.png</string>
            <key>size</key>
            <string>{1971,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64606253e8de9c6aa931e67e34dc8c1d:032c806b86d8fa3893bfce457e3321f4:e5b4a02482c8741fae2bb2ad9d27b31d$</string>
            <key>textureFileName</key>
            <string>features-menu.png</string>
        </dict>
    </dict>
</plist>
