<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1358,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1466,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1539,111},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1574,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1647,111},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1682,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1790,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1755,111},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{254,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>curve-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,62}</string>
                <key>spriteSourceSize</key>
                <string>{440,62}</string>
                <key>textureRect</key>
                <string>{{1097,152},{440,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,13}</string>
                <key>spriteSourceSize</key>
                <string>{401,13}</string>
                <key>textureRect</key>
                <string>{{258,227},{401,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,194}</string>
                <key>spriteSourceSize</key>
                <string>{357,194}</string>
                <key>textureRect</key>
                <string>{{738,1},{357,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,149}</string>
                <key>spriteSourceSize</key>
                <string>{259,149}</string>
                <key>textureRect</key>
                <string>{{1097,1},{259,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,221}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{515,1},{221,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,224}</string>
                <key>spriteSourceSize</key>
                <string>{255,224}</string>
                <key>textureRect</key>
                <string>{{258,1},{255,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>figure-game.png</string>
            <key>size</key>
            <string>{1897,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a525a60f90c16c19bb43f420bb41b91e:092dd949ba54c7a99b9c0dc3ad07c0b2:2f5040a91fd239e265625c96ee5ead87$</string>
            <key>textureFileName</key>
            <string>figure-game.png</string>
        </dict>
    </dict>
</plist>
