<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_black-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{642,634},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{642,744},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{642,854},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{750,634},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_brown-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{750,744},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{752,854},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{870,262},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{978,262},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{870,372},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{867,480},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pink-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{980,372},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{975,482},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_purple-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{867,590},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{977,590},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{858,698},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{966,700},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{862,808},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{970,808},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{254,255}</string>
                <key>textureRect</key>
                <string>{{704,1},{254,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{254,255}</string>
                <key>textureRect</key>
                <string>{{353,197},{254,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curve-line-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,61}</string>
                <key>spriteSourceSize</key>
                <string>{440,61}</string>
                <key>textureRect</key>
                <string>{{261,258},{440,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>curve-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,62}</string>
                <key>spriteSourceSize</key>
                <string>{440,62}</string>
                <key>textureRect</key>
                <string>{{197,258},{440,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>double_curved_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1,617},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,13}</string>
                <key>spriteSourceSize</key>
                <string>{401,13}</string>
                <key>textureRect</key>
                <string>{{324,258},{401,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,12}</string>
                <key>spriteSourceSize</key>
                <string>{401,12}</string>
                <key>textureRect</key>
                <string>{{339,258},{401,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rectangle-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,194}</string>
                <key>spriteSourceSize</key>
                <string>{357,194}</string>
                <key>textureRect</key>
                <string>{{1,258},{357,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,194}</string>
                <key>spriteSourceSize</key>
                <string>{357,194}</string>
                <key>textureRect</key>
                <string>{{345,1},{357,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi-circle-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,149}</string>
                <key>spriteSourceSize</key>
                <string>{259,149}</string>
                <key>textureRect</key>
                <string>{{961,1},{259,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>semi-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,149}</string>
                <key>spriteSourceSize</key>
                <string>{259,149}</string>
                <key>textureRect</key>
                <string>{{609,257},{259,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>six_straight_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,255}</string>
                <key>spriteSourceSize</key>
                <string>{342,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,221}</string>
                <key>spriteSourceSize</key>
                <string>{220,221}</string>
                <key>textureRect</key>
                <string>{{197,700},{220,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,221}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{419,679},{221,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,223}</string>
                <key>textureRect</key>
                <string>{{353,454},{255,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,224}</string>
                <key>spriteSourceSize</key>
                <string>{255,224}</string>
                <key>textureRect</key>
                <string>{{610,408},{255,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>figure-game.png</string>
            <key>size</key>
            <string>{1111,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8258d99d57572543c6a1d7e4f41866a:564e232a6ac243ce973eb0755d76e119:2f5040a91fd239e265625c96ee5ead87$</string>
            <key>textureFileName</key>
            <string>figure-game.png</string>
        </dict>
    </dict>
</plist>
