<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_black-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{896,258},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1006,258},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1116,258},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1226,258},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_brown-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1336,224},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1444,224},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1506,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1506,111},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1552,221},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1614,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pink-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1614,111},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1660,221},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_purple-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1768,1},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1878,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1768,109},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1878,111},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1768,217},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1878,221},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{254,255}</string>
                <key>textureRect</key>
                <string>{{801,1},{254,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curve-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,62}</string>
                <key>spriteSourceSize</key>
                <string>{440,62}</string>
                <key>textureRect</key>
                <string>{{454,267},{440,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>double_curved_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{454,1},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,13}</string>
                <key>spriteSourceSize</key>
                <string>{401,13}</string>
                <key>textureRect</key>
                <string>{{197,345},{401,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,194}</string>
                <key>spriteSourceSize</key>
                <string>{357,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>semi-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,149}</string>
                <key>spriteSourceSize</key>
                <string>{259,149}</string>
                <key>textureRect</key>
                <string>{{650,1},{259,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>six_straight_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,255}</string>
                <key>spriteSourceSize</key>
                <string>{342,255}</string>
                <key>textureRect</key>
                <string>{{197,1},{342,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,221}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{1283,1},{221,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,224}</string>
                <key>spriteSourceSize</key>
                <string>{255,224}</string>
                <key>textureRect</key>
                <string>{{1057,1},{255,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>figure-game.png</string>
            <key>size</key>
            <string>{1985,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255e4ca15879cd0fb2d3f8868184f0de:18f6e9dc5a624e114fcdc322b1eeee3a:2f5040a91fd239e265625c96ee5ead87$</string>
            <key>textureFileName</key>
            <string>figure-game.png</string>
        </dict>
    </dict>
</plist>
