<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,475},{297,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,153}}</string>
                <key>sourceSize</key>
                <string>{297,153}</string>
            </dict>
            <key>bush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{565,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,208}}</string>
                <key>sourceSize</key>
                <string>{565,208}</string>
            </dict>
            <key>cloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,533},{240,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,87}}</string>
                <key>sourceSize</key>
                <string>{240,87}</string>
            </dict>
            <key>cloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,481},{139,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,126}}</string>
                <key>sourceSize</key>
                <string>{139,126}</string>
            </dict>
            <key>cloud-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,533},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,61}</string>
            </dict>
            <key>cloud-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,533},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{1138,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,274}}</string>
                <key>sourceSize</key>
                <string>{1138,274}</string>
            </dict>
            <key>river.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,275}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{615,275}}</string>
                <key>sourceSize</key>
                <string>{615,277}</string>
            </dict>
            <key>small-bush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,449},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>small-bush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,524},{258,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,278},{166,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,201}}</string>
                <key>sourceSize</key>
                <string>{166,201}</string>
            </dict>
            <key>tree-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,278},{244,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,258}}</string>
                <key>sourceSize</key>
                <string>{244,258}</string>
            </dict>
            <key>tree-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,278},{169,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,279}}</string>
                <key>sourceSize</key>
                <string>{169,279}</string>
            </dict>
            <key>tree-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,278},{195,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,432}}</string>
                <key>sourceSize</key>
                <string>{195,432}</string>
            </dict>
            <key>tree-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,449},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>tree-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,569},{129,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,20}}</string>
                <key>sourceSize</key>
                <string>{129,20}</string>
            </dict>
            <key>water-fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{529,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,383}}</string>
                <key>sourceSize</key>
                <string>{529,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest.png</string>
            <key>size</key>
            <string>{2017,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3192754fab289a682a8407873f1a184:de55e88e3bb14a486a44acbb3b7ad993:9bbd45b028f96d856e579760e5d92cf2$</string>
            <key>textureFileName</key>
            <string>forest.png</string>
        </dict>
    </dict>
</plist>
