<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,105}</string>
                <key>spriteSourceSize</key>
                <string>{137,105}</string>
                <key>textureRect</key>
                <string>{{1475,333},{137,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-unlock-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,74}</string>
                <key>spriteSourceSize</key>
                <string>{329,74}</string>
                <key>textureRect</key>
                <string>{{1475,2},{329,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-unlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,74}</string>
                <key>spriteSourceSize</key>
                <string>{329,74}</string>
                <key>textureRect</key>
                <string>{{1551,2},{329,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1582,333},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1582,395},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{2,2},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{493,2},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{984,2},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{2,256},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>navigate-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{1582,457},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>navigate-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{1524,472},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>navigate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,47}</string>
                <key>spriteSourceSize</key>
                <string>{24,47}</string>
                <key>textureRect</key>
                <string>{{1475,472},{24,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{493,256},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{984,256},{252,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>homescreen.png</string>
            <key>size</key>
            <string>{1640,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ab934e0d4785262572a7a99ef0a5cc:62465d33a3ac70bccad6a05d2bcff4a1:fae1a3b897d198dfbf3fcdd2d231bbdf$</string>
            <key>textureFileName</key>
            <string>homescreen.png</string>
        </dict>
    </dict>
</plist>
