<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>navigate-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>navigate-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{80,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{2,78},{80,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>level-dialog.png</string>
            <key>size</key>
            <string>{84,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd2783c163660704fb05fc2f6c6ff80:cfc6076a26d66062d55e4de0b0008781:c1b6fa8710711fed867bc5b3e09794bb$</string>
            <key>textureFileName</key>
            <string>level-dialog.png</string>
        </dict>
    </dict>
</plist>
