<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,105}</string>
                <key>spriteSourceSize</key>
                <string>{137,105}</string>
                <key>textureRect</key>
                <string>{{1602,333},{137,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-unlock-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,74}</string>
                <key>spriteSourceSize</key>
                <string>{329,74}</string>
                <key>textureRect</key>
                <string>{{1684,2},{329,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-unlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,74}</string>
                <key>spriteSourceSize</key>
                <string>{329,74}</string>
                <key>textureRect</key>
                <string>{{1526,147},{329,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1602,147},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1602,205},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{2,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{256,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{510,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{764,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>navigate-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{1602,440},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>navigate-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{1659,440},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>navigate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,156}</string>
                <key>spriteSourceSize</key>
                <string>{143,156}</string>
                <key>textureRect</key>
                <string>{{1526,2},{143,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{1018,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_door_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,489}</string>
                <key>spriteSourceSize</key>
                <string>{252,489}</string>
                <key>textureRect</key>
                <string>{{1272,2},{252,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>homescreen.png</string>
            <key>size</key>
            <string>{1760,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86411840bbaaa189012add512fe569d6:687ee8e573fbb4e72c6f0fde83ca972c:fae1a3b897d198dfbf3fcdd2d231bbdf$</string>
            <key>textureFileName</key>
            <string>homescreen.png</string>
        </dict>
    </dict>
</plist>
