<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exit-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{574,2},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{666,2},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{648,96},{84,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{733,182},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{541,273},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{644,273},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{593,183},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,15}</string>
                <key>spriteSourceSize</key>
                <string>{229,15}</string>
                <key>textureRect</key>
                <string>{{462,256},{229,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{85,72}</string>
                <key>textureRect</key>
                <string>{{574,96},{85,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{737,96},{75,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{819,206},{73,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{758,2},{75,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{805,79},{75,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{826,2},{75,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{894,2},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{818,274},{73,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{894,70},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{873,138},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{747,271},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{663,182},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{950,148},{68,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{817,342},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{894,206},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{971,2},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{541,379},{26,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{971,75},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{893,279},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{949,285},{64,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{747,337},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{524,184},{67,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{950,218},{65,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name-holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,60}</string>
                <key>spriteSourceSize</key>
                <string>{252,60}</string>
                <key>textureRect</key>
                <string>{{462,2},{252,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,48}</string>
                <key>spriteSourceSize</key>
                <string>{271,48}</string>
                <key>textureRect</key>
                <string>{{412,2},{271,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sao to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,127}</string>
                <key>spriteSourceSize</key>
                <string>{136,127}</string>
                <key>textureRect</key>
                <string>{{412,275},{136,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting-dialog-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,410}</string>
                <key>spriteSourceSize</key>
                <string>{408,410}</string>
                <key>textureRect</key>
                <string>{{2,2},{408,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{883,352},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{943,352},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitespace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{524,2},{180,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{1024,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7cfca195a9403cc87e049fdc392fa6:5965c06befbcb9b524b1290f2ecd763b:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
