<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exit-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{520,193},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{612,225},{90,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{520,287},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{414,296},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{668,119},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{414,193},{101,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{706,312},{68,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>colorbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,15}</string>
                <key>spriteSourceSize</key>
                <string>{229,15}</string>
                <key>textureRect</key>
                <string>{{552,52},{229,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{85,72}</string>
                <key>textureRect</key>
                <string>{{706,225},{85,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{771,142},{69,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{606,317},{67,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{771,69},{65,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name-holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,60}</string>
                <key>spriteSourceSize</key>
                <string>{252,60}</string>
                <key>textureRect</key>
                <string>{{414,131},{252,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,48}</string>
                <key>spriteSourceSize</key>
                <string>{271,48}</string>
                <key>textureRect</key>
                <string>{{552,2},{271,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sao to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,127}</string>
                <key>spriteSourceSize</key>
                <string>{136,127}</string>
                <key>textureRect</key>
                <string>{{414,2},{136,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-dialog-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,410}</string>
                <key>spriteSourceSize</key>
                <string>{408,410}</string>
                <key>textureRect</key>
                <string>{{2,2},{408,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{779,312},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{780,213},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitespace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{552,69},{180,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{840,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e6739a36f4fb0f391642ee46c0d4d73:3560cd917ae3d445b9382fd9504f2f63:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
