<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exit-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{208,719},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{300,552},{90,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{2,550},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{88,550},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{2,719},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{105,719},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{89,639},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,15}</string>
                <key>spriteSourceSize</key>
                <string>{229,15}</string>
                <key>textureRect</key>
                <string>{{256,488},{229,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{85,72}</string>
                <key>textureRect</key>
                <string>{{2,639},{85,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{174,550},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{159,639},{67,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name-holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,60}</string>
                <key>spriteSourceSize</key>
                <string>{252,60}</string>
                <key>textureRect</key>
                <string>{{2,488},{252,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,72}</string>
                <key>spriteSourceSize</key>
                <string>{271,72}</string>
                <key>textureRect</key>
                <string>{{2,414},{271,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sao to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,127}</string>
                <key>spriteSourceSize</key>
                <string>{136,127}</string>
                <key>textureRect</key>
                <string>{{275,414},{136,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting-dialog-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,410}</string>
                <key>spriteSourceSize</key>
                <string>{408,410}</string>
                <key>textureRect</key>
                <string>{{2,2},{408,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{350,644},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{350,704},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitespace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{300,644},{180,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{412,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6faa1cfd7715a65de81f07af664805e2:b5ae7c69b1bcea35e66bc6e3d16359db:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
