<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_x-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1400,125},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1400,196},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon game bài đã ấn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,163}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1242,292},{121,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_alpharacing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{539,101},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{539,268},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_buildingblocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{662,101},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{662,268},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{785,101},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_freecolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{785,268},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_fruiddition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{926,2},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_gofigure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1093,2},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1260,2},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{908,125},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_shoppingbasket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1031,125},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_spelling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{908,292},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_storytime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1154,125},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1075,292},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1277,125},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{908,292},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_dialog_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,97}</string>
                <key>spriteSourceSize</key>
                <string>{385,97}</string>
                <key>textureRect</key>
                <string>{{539,2},{385,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_dialog_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,451}</string>
                <key>spriteSourceSize</key>
                <string>{535,451}</string>
                <key>textureRect</key>
                <string>{{2,2},{535,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>level-dialog.png</string>
            <key>size</key>
            <string>{1470,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b901b5d9ab99c13b5dfd0fefa6291b:4c793f0742291b9897f443194576e6f2:d59aa5d04c7cc5909012dd7a24ef3720$</string>
            <key>textureFileName</key>
            <string>level-dialog.png</string>
        </dict>
    </dict>
</plist>
