<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_x-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1153,124},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1153,195},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon game bài đã ấn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,163}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1092,1},{121,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_alpharacing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{538,100},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{538,267},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{661,100},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{661,267},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_freecolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{784,100},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_gofigure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{784,267},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{925,1},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{907,124},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_shoppingbasket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{907,124},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_storytime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1030,124},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{907,291},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{1074,291},{121,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,165}</string>
                <key>spriteSourceSize</key>
                <string>{121,165}</string>
                <key>textureRect</key>
                <string>{{907,124},{121,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_dialog_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,97}</string>
                <key>spriteSourceSize</key>
                <string>{385,97}</string>
                <key>textureRect</key>
                <string>{{538,1},{385,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_dialog_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,451}</string>
                <key>spriteSourceSize</key>
                <string>{535,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{535,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>level-dialog.png</string>
            <key>size</key>
            <string>{1256,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5cf04ece51d214a622fc45c6106f1c:5e782cf695b262c826d05c6083afb18d:d59aa5d04c7cc5909012dd7a24ef3720$</string>
            <key>textureFileName</key>
            <string>level-dialog.png</string>
        </dict>
    </dict>
</plist>
