<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_x-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{215,196},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{246,196},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon game bài đã ấn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{227,2},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{227,54},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_alpharacing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{227,125},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{279,164},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_buildingblocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{340,2},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{340,73},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{392,2},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_freecolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{350,125},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_fruiddition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{411,54},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_gofigure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{421,125},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{350,177},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_game_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{402,196},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_shoppingbasket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{402,196},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_storytime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{2,192},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{73,192},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{144,192},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_game_writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{227,54},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_dialog_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,40}</string>
                <key>spriteSourceSize</key>
                <string>{160,40}</string>
                <key>textureRect</key>
                <string>{{298,2},{160,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_dialog_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,188}</string>
                <key>spriteSourceSize</key>
                <string>{223,188}</string>
                <key>textureRect</key>
                <string>{{2,2},{223,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{474,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c4ccbdc20f19425e92184792bfbb176:c9d28e2e8ffe93f93dd45d0d9df005a6:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
