<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_level-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{1,69},{71,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_level-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{1,283},{71,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{1,142},{71,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1,215},{66,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{67,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fe2623808800bfb9e162e8339930ce3:11638e58d10f60668a0a34059cb79121:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
