<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,73}</string>
                <key>spriteSourceSize</key>
                <string>{291,73}</string>
                <key>textureRect</key>
                <string>{{582,273},{291,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_later.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{582,423},{207,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_later_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{918,1},{207,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pay_with_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,73}</string>
                <key>spriteSourceSize</key>
                <string>{291,73}</string>
                <key>textureRect</key>
                <string>{{582,348},{291,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{875,273},{207,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_share_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{947,210},{207,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>children.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,494}</string>
                <key>spriteSourceSize</key>
                <string>{579,494}</string>
                <key>textureRect</key>
                <string>{{1,1},{579,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{791,423},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{947,419},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,136}</string>
                <key>spriteSourceSize</key>
                <string>{334,136}</string>
                <key>textureRect</key>
                <string>{{582,1},{334,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,132}</string>
                <key>spriteSourceSize</key>
                <string>{324,132}</string>
                <key>textureRect</key>
                <string>{{582,139},{324,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>mission_page.png</string>
            <key>size</key>
            <string>{1018,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06d4d968431d4fe77372b3e0c86cc7a0:107f76702f5e7b8b91b0ebc47a38582e:01f020d7d0284a9774acb95a71e6089c$</string>
            <key>textureFileName</key>
            <string>mission_page.png</string>
        </dict>
    </dict>
</plist>
