<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,73}</string>
                <key>spriteSourceSize</key>
                <string>{291,73}</string>
                <key>textureRect</key>
                <string>{{1,854},{291,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pay_with_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,73}</string>
                <key>spriteSourceSize</key>
                <string>{291,73}</string>
                <key>textureRect</key>
                <string>{{337,582},{291,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_share_wide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{412,582},{207,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_share_wide_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,70}</string>
                <key>spriteSourceSize</key>
                <string>{207,70}</string>
                <key>textureRect</key>
                <string>{{294,875},{207,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>children.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,494}</string>
                <key>spriteSourceSize</key>
                <string>{579,494}</string>
                <key>textureRect</key>
                <string>{{1,1},{579,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{412,791},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{412,839},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,136}</string>
                <key>spriteSourceSize</key>
                <string>{334,136}</string>
                <key>textureRect</key>
                <string>{{1,582},{334,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,132}</string>
                <key>spriteSourceSize</key>
                <string>{324,132}</string>
                <key>textureRect</key>
                <string>{{1,720},{324,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mission_page.png</string>
            <key>size</key>
            <string>{502,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9de8e00c3a8b13a5b9871731bc6a77:d5912039dd5bfdf5070ae80868f131e3:01f020d7d0284a9774acb95a71e6089c$</string>
            <key>textureFileName</key>
            <string>mission_page.png</string>
        </dict>
    </dict>
</plist>
