<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,307},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>bg-school.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{853,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,640}}</string>
                <key>sourceSize</key>
                <string>{853,640}</string>
            </dict>
            <key>school_bg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{338,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,201}}</string>
                <key>sourceSize</key>
                <string>{338,201}</string>
            </dict>
            <key>school_bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,644},{337,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,192}}</string>
                <key>sourceSize</key>
                <string>{337,192}</string>
            </dict>
            <key>school_name-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{236,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,65}}</string>
                <key>sourceSize</key>
                <string>{236,65}</string>
            </dict>
            <key>school_name-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,336},{262,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,97}}</string>
                <key>sourceSize</key>
                <string>{262,97}</string>
            </dict>
            <key>school_name-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,644},{233,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,98}}</string>
                <key>sourceSize</key>
                <string>{233,98}</string>
            </dict>
            <key>school_name-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,744},{233,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,97}}</string>
                <key>sourceSize</key>
                <string>{233,97}</string>
            </dict>
            <key>search_button-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,240},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>search_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,600},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>search_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{332,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,45}}</string>
                <key>sourceSize</key>
                <string>{332,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>school.png</string>
            <key>size</key>
            <string>{980,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57282a2f856ba08023078da20955a989:9fec143f80f9399e032d9930fda386a5:d5a4559589750e3d1ee0ab0b70bd8e8a$</string>
            <key>textureFileName</key>
            <string>school.png</string>
        </dict>
    </dict>
</plist>
