<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sparkles-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,19},{9,9}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{9,9}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{31,29}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{31,29}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{33,25}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{33,25}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{37,25}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{37,25}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{37,25}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{37,25}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{39,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{39,19}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{39,17}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{39,17}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{41,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{41,19}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{15,15}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{15,15}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,15},{13,13}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{13,13}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,17},{11,11}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{11,11}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,19},{9,9}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{9,9}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,15},{13,13}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{13,13}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,0},{21,25}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{21,25}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{23,27}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,0},{27,29}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{25,29}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{25,29}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{27,31}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{27,31}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>sparkles-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{27,31}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{27,31}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sparkle-effect.png</string>
            <key>size</key>
            <string>{441,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83d721dae35d71ed3bb7925f81274904:f65fa669ea965bbc15af4fb72e4509de:a7ffe9d2d411297ab38de3a228e3ddff$</string>
            <key>textureFileName</key>
            <string>sparkle-effect.png</string>
        </dict>
    </dict>
</plist>
