<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>train_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,120}</string>
                <key>spriteSourceSize</key>
                <string>{143,120}</string>
                <key>textureRect</key>
                <string>{{364,204},{143,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,201}</string>
                <key>spriteSourceSize</key>
                <string>{284,201}</string>
                <key>textureRect</key>
                <string>{{213,1},{284,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train_slot_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,124}</string>
                <key>spriteSourceSize</key>
                <string>{149,124}</string>
                <key>textureRect</key>
                <string>{{213,204},{149,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train_slot_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,210}</string>
                <key>spriteSourceSize</key>
                <string>{296,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>train-game.png</string>
            <key>size</key>
            <string>{508,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ebe8fa76e37ec6feb56d052da5b3877:74f4b81cbd0bd771003f6b42286fa9c0:28080adac72c9bcab3d05bb578c382ae$</string>
            <key>textureFileName</key>
            <string>train-game.png</string>
        </dict>
    </dict>
</plist>
