<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_game_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,511}</string>
                <key>spriteSourceSize</key>
                <string>{320,511}</string>
                <key>textureRect</key>
                <string>{{314,1},{320,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_game_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,311}</string>
                <key>spriteSourceSize</key>
                <string>{321,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_game_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,110}</string>
                <key>spriteSourceSize</key>
                <string>{1138,110}</string>
                <key>textureRect</key>
                <string>{{827,126},{1138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_game_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,123}</string>
                <key>spriteSourceSize</key>
                <string>{1138,123}</string>
                <key>textureRect</key>
                <string>{{827,1},{1138,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_game_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1138,44}</string>
                <key>spriteSourceSize</key>
                <string>{1138,44}</string>
                <key>textureRect</key>
                <string>{{827,238},{1138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>tree-game.png</string>
            <key>size</key>
            <string>{1966,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ffad2b30c62c9928a37e40d21faf873:f89ad11b5759a42663d2fd9b6fcf1674:6a3cbfd9e123c860ffb7f7e63aef3bc4$</string>
            <key>textureFileName</key>
            <string>tree-game.png</string>
        </dict>
    </dict>
</plist>
