<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{132,135}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{132,135}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>finger-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{294,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ae22d8970cd3da3145e20c10b9283b:53b3d9e282ad72cf6bea551db558b987:f9d56bd4d7a6c765e5b9bd59b13e6385$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
