<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adidog_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{322,1},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adidog_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{279,503}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{651,512},{279,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adidog_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{319,527}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,1},{319,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adidog_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{281,479}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,530},{281,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adidog_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{275,509}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{668,1},{275,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{365,385}</string>
                <key>spriteSourceSize</key>
                <string>{369,393}</string>
                <key>textureRect</key>
                <string>{{284,530},{365,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{279,503}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{651,512},{279,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{319,527}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,1},{319,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{281,479}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,530},{281,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{275,509}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{668,1},{275,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>adidog_run.png</string>
            <key>size</key>
            <string>{944,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eac0e70f19948685b2485bb1e9e2e27:770f5f99c1ad395d8823b436186aa514:b185c3e27966584cae848f0b59f2575c$</string>
            <key>textureFileName</key>
            <string>adidog_run.png</string>
        </dict>
    </dict>
</plist>
