<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adi_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{279,503}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{322,1},{279,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{319,527}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,1},{319,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{281,479}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{1,530},{281,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adi_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{275,509}</string>
                <key>spriteSourceSize</key>
                <string>{323,527}</string>
                <key>textureRect</key>
                <string>{{322,506},{275,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adidog_run.png</string>
            <key>size</key>
            <string>{602,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63471f99e7f9aa063aeb44f86f3b30f4:b0612a26fb4b2a1266ddf4cd99a9b86d:b185c3e27966584cae848f0b59f2575c$</string>
            <key>textureFileName</key>
            <string>adidog_run.png</string>
        </dict>
    </dict>
</plist>
