<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,1},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,1},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_blue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,277},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_blue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,277},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_blue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,277},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_gray_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,264}</string>
                <key>spriteSourceSize</key>
                <string>{99,264}</string>
                <key>textureRect</key>
                <string>{{1,1657},{99,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,553},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,553},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,553},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,829},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,829},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_green_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,829},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,1105},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,1105},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,1105},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{1,1381},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{158,1381},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{155,274}</string>
                <key>textureRect</key>
                <string>{{315,1381},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloon-animations.png</string>
            <key>size</key>
            <string>{471,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b75c31825d39b67410c00b103cf9b27:3e17c64edb52aab8ae27732d3521230d:61f0b1649903ca25126f88604f94ccb2$</string>
            <key>textureFileName</key>
            <string>balloon-animations.png</string>
        </dict>
    </dict>
</plist>
