<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>17491481602-adjgldvbc7v3t02ofr0anv28knkao8o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17491481602-adjgldvbc7v3t02ofr0anv28knkao8o8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBhNmPDMvSEA46AplY-kRDF1Rl8yxxZOs</string>
	<key>GCM_SENDER_ID</key>
	<string>17491481602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theschoolofgames.tsog</string>
	<key>PROJECT_ID</key>
	<string>the-school-of-games</string>
	<key>STORAGE_BUCKET</key>
	<string>the-school-of-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:17491481602:ios:d75ef75b87d16581</string>
	<key>DATABASE_URL</key>
	<string>https://the-school-of-games.firebaseio.com</string>
</dict>
</plist>